@{
    ViewBag.Title = "Ana Sayfa";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var odemeTipleri = ViewBag.OdemeTipiIstatistik as List<dynamic>;
}

<h1 class="mt-4">Ana Sayfa</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Ana Sayfa</li>
</ol>

<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">
                Toplam Satış Tutarı: @string.Format("{0:C}", ViewBag.ToplamSatisTutar)
            </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#">Detaylar</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
</div>

@if (odemeTipleri != null && odemeTipleri.Count > 0)
{
    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-bar me-1"></i>
                    Ödeme Tipine Göre Satışlar
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Ödeme Tipi</th>
                                <th>Satış Adedi</th>
                                <th>Toplam Tutar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in odemeTipleri)
                            {
                                <tr>
                                    <td>@item.OdemeTipi</td>
                                    <td>@item.Adet</td>
                                    <td>@string.Format("{0:C}", item.ToplamTutar)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
