﻿@model LordMarket.Models.Kullanicilar

@{
    ViewBag.Title = "Yeni Kullanicilar Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="card shadow-sm border-light rounded " style="max-width: 600px; margin: 20px auto;">
    <div class="card-header bg-dark text-white text-center">
        <h3><b>Yeni Kullanıcı Ekle</b></h3>
    </div>
    <form method="post" class="form-group">
        <div class="card-body">


            <div class="mb-3">
                <label for="Username" class="form-label">Username:</label>
                <input type="text" id="Username" name="Username" class="form-control" required placeholder="Username" />
            </div>

            <div class="mb-3">
                <label for="Password" class="form-label">Password:</label>
                <input type="password" id="Password" name="Password" class="form-control" required placeholder="Password" />
            </div>

            <div class="mb-3">
                <label for="Image" class="form-label">Image:</label>
                <input type="text" id="Image" name="Image" class="form-control" required placeholder="Image" />
            </div>


            <div class="mb-3">
                <label for="Role" class="form-label">Rol:</label>
                <select id="Role" name="Role" class="form-select" required>
                    <option value="" disabled selected>Rol seçin</option>
                    <option value="Admin">Admin</option>
                    <option value="SuperAdmin">SuperAdmin</option>
                    <option value="NormalUser">NormalUser</option>
                </select>
            </div>








            <input type="hidden" name="Status" value="true" />

        </div>

        <div class="card-footer text-center">
            <a href="/Kullanicilar/Kullanicilar/" class="btn btn-danger btn-sm">İptal</a>
            <button class="btn btn-success btn-sm">Ekle</button>
        </div>
    </form>
</div>

