﻿@model LordMarket.Models.Kategoriler
@{
    ViewBag.Title = "Kategori Güncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="card shadow-sm border-light rounded" style="max-width: 600px; margin: 20px auto;">
    <div class="card-header bg-dark text-white text-center">
        <h3><b>Kategori Güncelle</b></h3>
    </div>

    @using (Html.BeginForm("UrunGuncelle", "Urun", FormMethod.Post, new { @class = "form-group" }))
    {
        <div class="card-body">
            @Html.HiddenFor(k => k.ID)

            <div class="mb-3">
                <label>Kategori Adı:</label>
                @Html.TextBoxFor(k => k.KategoriAd, new { @class = "form-control", id = "KategoriAd", required = "required", placeholder = "Kategori Adı" })

            </div>



            <div class="mb-3">
                <label for="status" class="form-label">Status:</label>
                @Html.DropDownListFor(k => k.Status, new List<SelectListItem>
                {
                    new SelectListItem { Text = "Akif", Value = "true" },
                    new SelectListItem { Text = "Pasif", Value = "false" }
                }, new { @class = "form-select", id = "status", required = "required" })
            </div>
        </div>

        <div class="card-footer text-center">
            <a href="/Kategori/Kategoriler/" class="btn btn-danger btn-sm">İptal</a>
            <button class="btn btn-success btn-sm">Güncelle</button>
        </div>
    }
</div>


