﻿@model LordMarket.Models.Kategoriler

@{
    ViewBag.Title = "Yeni Kategori Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="card shadow-sm border-light rounded " style="max-width: 600px; margin: 20px auto;">
    <div class="card-header bg-dark text-white text-center">
        <h3><b>Yeni Kategori Ekle</b></h3>
    </div>
    <form method="post" class="form-group">
        <div class="card-body">

            <div class="mb-3">
                <label for="KategoriAd" class="form-label">Kategori Adı:</label>
                <input type="text" id="KategoriAd" name="KategoriAd" class="form-control" required placeholder="Kategori adı girin" />
            </div>

           


            <input type="hidden" name="Status" value="true" />
            
        </div>

        <div class="card-footer text-center">
            <a href="/Kategori/Kategoriler/" class="btn btn-danger btn-sm">İptal</a>
            <button class="btn btn-success btn-sm">Ekle</button>
        </div>
    </form>
</div>

